//Brand Color
$brand-primary: #1da1f5;
$brand-primary-5:  lighten($brand-primary, 5%);
$brand-primary-10: lighten($brand-primary, 10%);
$brand-primary-15: lighten($brand-primary, 15%);
$brand-primary-20: lighten($brand-primary, 20%);
$brand-primary-40: lighten($brand-primary, 40%);

$brand-secundary: #ff4d00;
$brand-secundary-5:lighten($brand-secundary, 5%);;
$brand-secundary-10:lighten($brand-secundary, 10%);
$brand-secundary-15:lighten($brand-secundary, 15%);
$brand-secundary-20:lighten($brand-secundary, 20%);
$brand-secundary-40:lighten($brand-secundary, 40%);

$brand-tertiary: #8039da;
$brand-tertiary-5:lighten($brand-tertiary, 5%);
$brand-tertiary-10:lighten($brand-tertiary, 10%);
$brand-tertiary-15:lighten($brand-tertiary, 15%);
$brand-tertiary-20:lighten($brand-tertiary, 20%);
$brand-tertiary-40:lighten($brand-tertiary, 40%);


//Border
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 24px;
$border-radius-circle: 50%;


//Background & Border
$color-background: #ffffff;
$color-background-light: #f3f2f2;
$color-background-dark: #1a1b1e;
$color-background-header: #ffffff;


//Text Color
$color-text: #383b42;
$color-text-legal: #65676c;
$color-text-label: $color-text;
$color-text-helper: $color-text-legal;
$color-text-placeholder: #b6b7b9;
$color-text-required: #c23934;
$color-text-success: #027e46;
$color-text-warning: #ffb75d;
$color-text-error: #f26647;


//Link Color
$color-text-link: $brand-primary;
$color-text-link-hover: $brand-primary;


//MENU 
$menu-border-color: #e3e3e3;
$menu-title-background-color: #f3f3f3;
$menu-link-hover-background-color: #fafafa;


//FORM INPUTS
$border-radius-input: $border-radius-large;
$border-color-input: $menu-border-color;

$color-background-button: $brand-primary;
$color-background-button-active: $brand-primary-20;
$color-text-button: #ffffff;
$color-text-button-active: #ffffff;

$color-background-button-secundary: #ffffff;
$color-background-button-secundary-active: #ffffff;
$color-text-button-secundary: #ffffff;
$color-text-button-secundary-active: #ffffff;


//Font
$font-family: 'Roboto', sans-serif;
$font-family-secundary: 'Zilla Slab', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;


//Font Size
$font-size-h1: 54px;
$font-size-h1-sm: 32px;
$font-size-h1-xs: 28px;

$font-size-h2: 48px;
$font-size-h2-sm: 24px;
$font-size-h2-xs: 24px;

$font-size-h3: 32px;
$font-size-h3-sm: 20px;
$font-size-h3-xs: 20px;

$font-size-text: 18px;


//Line Height
$line-height-heading: 1.25;
$line-height-text: 1.5;


//Spacing
$spacing-0: 0;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-64: 64px;


//Icon Sizing
$icon-size-small: 16px;
$icon-size-medium: 24px;
$icon-size-large: 32px;


//Shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.10);
$box-shadow: 0 0.125rem 0.25rem 0 rgba(31, 45, 65, 0.2);
$box-shadow-active: 0 0.25rem 1rem 0 rgba(31, 45, 65, 0.25);
$header-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);


//Time
$duration-instantly: 0s;
$duration-immediately: 50ms;
$duration-quickly: 100ms;
$duration-promptly: 200ms;
$duration-slowly: 400ms;


//Break Points & Media Queries
$break-xs: 414px; 
$break-sm: 768px; 
$break-md: 992px; 
$break-lg: 1200px;


//Z-index
$z-index-deepdive: -99999;
$z-index-default: 1;
$z-index-sticky:100;
$z-index-modal: 9000;


//NAVBAR
$navbar-height: 70px;
$navbar-brand-text-color: $brand-primary;
$navbar-brand-text-size: 33px;
$navbar-brand-text-font-weigth: $font-weight-bold;
$navbar-menu-text-color: $brand-primary;
$navbar-hamburger-menu-color: $brand-primary;
$navbar-background: #000000;

//NAVBAR MOBILE MENU
$navbar-menu-background: $color-background-light;
$navbar-menu-text-line-height: 62px;
$navbar-menu-text-font-weigth: $font-weight-bold;
$navbar-menu-text-align: center;
$navbar-menu-text-border-bottom: none;




