nav, header, section, footer{
    &.container{
        overflow: hidden;

         > div{
            max-width: $break-lg;
            margin: 0 auto;
        }
        padding-left: $spacing-20;
        padding-right: $spacing-20;

        
        @include media-query-sm{
            &:not(nav){
                padding-top: $spacing-40;
                padding-bottom: $spacing-40;
            }
        }

        @include media-query-sm-mayor{
            &.adjust{
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                height:100vh;
                height:calc(100vh - 48px);
            }
        }
    }
}
footer, section{
    &:not(.adjust){
        padding-top: $spacing-64;
        padding-bottom: $spacing-64;
    }
}
@include media-query-sm{
    .desktop{
        display: none !important;
    }
}
@include media-query-sm-mayor{
    .mobile{
        display: none !important;
    }
}