body{
    font-size: $font-size-text;
    font-family: $font-family;
    color: $color-text;
    padding-top: 48px;
}

.secundary-font{
    font-family: $secundary-font;
}

.jump{
    display: block;
}

* {
    margin: $spacing-0;
    padding: $spacing-0;
    -webkit-tap-highlight-color: transparent;
    &:focus{
        outline: none;
    }
}

h1, .h1, h2, .h2, h3, .h3{
    &:not(h3):not(.h3){
        font-family: $secundary-font;
    }
    color: $color-text;

    + *:not(b):not(i):not(span):not(a):not(blockquote):not(cite){
        padding-top: $spacing-24;
    }
}

h1, .h1{
    font-family: $secundary-font;
    font-size: $font-size-h1;
    line-height: $line-height-heading;
    letter-spacing: -1px;

    @include media-query-sm-only{
        font-size: $font-size-h1-sm;
    }
    @include media-query-sm{
        font-size: $font-size-h1-xs;
    }
}

h2, .h2{
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    line-height: $line-height-heading;
    letter-spacing: 0.2px;

    @include media-query-sm-only{
        font-size: $font-size-h2-sm;
    }
    @include media-query-sm{
        font-size: $font-size-h2-xs;
    }
}

h3, .h3{
    font-size: $font-size-h3;
    font-weight: $font-weight-regular;
    line-height: $line-height-heading;
    letter-spacing: 0.25px;

    @include media-query-sm-only{
        font-size: $font-size-h3-sm;
    }
    @include media-query-sm{
        font-size: $font-size-h3-xs;
    }
}

p, b, i, ul, ol, li, blockquote, cite{
    line-height: $line-height-text;

    + h1, + .h1, + h2, + .h2, + h3, + .h3{
        padding-top: $spacing-32;
    }

    + :not(b):not(i):not(span):not(a):not(blockquote):not(cite):not(h1):not(h2):not(h3):not(.h1):not(.h2):not(.h3){
        padding-top: $spacing-16;
    }

    @include media-query-xs{
        font-size: $font-size-text - 2px;
    }

    &.legales{
        font-family: $secundary-font;
        font-size: $font-size-text - 6px;
        letter-spacing: 0.4px;
        color: $color-text-legal;

        .cat, .gat, .tasa{            
            font-weight: $font-weight-bold;
            letter-spacing: 0.15px;
            color: $color-text;

            &:not(.cat){
                font-size: $font-size-text;
            }
        }

        .cat{
            font-size: $font-size-text;
        }
        b{
            color: $color-text-legal;
            font-size: $font-size-text - 4px;
        }
        a{
            color: $color-text;
        }
    }
}

ol, ul{
    &:not(.bullet):not(.decimal):not(.roman){
        list-style: none;
        li{
            //padding-left: $spacing-24;
            @include media-query-sm{
                //padding-left: $spacing-16;
            }
        }
    }
    &.decimal, &.bullet, &.roman{
        padding-left: $spacing-40;
        li{
            padding-left: $spacing-0;
        }
    }
    &.bullet{
        list-style: disc;
    }
    &.decimal{
        list-style: decimal;
    }
    &.roman{
        list-style: lower-roman;
    }
}

a{
    &:link, &:visited{
    color: $color-text-link;
    }

    &:hover, &:active{
        color: $color-text-link-hover;
        text-decoration: none;
    }
}

table{
    font-family: $secundary-font;
    color: $color-text;

    border-collapse: collapse;
    border-spacing:  0px;
    border: solid 1px #b6b7b9;
    
    word-break: break-word;
    word-wrap: break-word;
    
    @include border-radius($border-radius-small);
    @include widthFill();

    @include media-query-sm{
        width: 100%;
    }

    + table{
        margin-top: $spacing-16;
    }

    thead{
        tr{
            th{
                padding: 6px 12px;

                font-family: $font-family;
                font-size: $font-size-text + 2px;
                font-weight: $font-weight-bold;
                text-align: left;
                line-height: $line-height-text;
                letter-spacing: normal;

                @include media-query-sm-only{
                    font-size: $font-size-text - 2px;
                }
                @include media-query-xs{
                    font-size: $font-size-text - 4px;
                }
            }
        }
    }

    tbody{
        tr{
            &:not(:nth-last-child(-n+1)){
                border-bottom: solid 0.5px get-color("black", "light");
            }

            td{
                padding: 6px 8px;
                letter-spacing: 0.15px;
                font-size: $font-size-text - 2px;
                
                &.bold{
                    font-weight: $font-weight-bold;
                }

                &.right{
                    text-align: right;
                }

                &.center{
                    text-align: center;
                }

                @include media-query-sm{
                    width: 50%;
                }
                @include media-query-sm-only{
                    font-size: $font-size-text - 4px;
                }
                @include media-query-xs{
                    font-size: $font-size-text - 6px;
                }
            }

        }
    }
}